<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://localhost:8080/vendors/bootstrap.min.css" rel="stylesheet">
<link href="http://localhost:8080/vendors/fontowesome/css/font-awesome.css" rel="stylesheet">
<link href="http://localhost:8080/vendors/cover.css" rel="stylesheet">
<script src="http://localhost:8080/vendors/jquery.min.js"></script>
<script src="http://localhost:8080/vendors/bootstrap.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#images img").hide();
  i = 0;
	setInterval(function(){

		var audio = document.getElementById('audio' + i);
		audio.play();
		i++;
		
		var $active = $("#images img.active");
		var $next = $active.next("img").length ? 
									$active.next("img")
									: $("#images img:first");
		$active.fadeOut(200, function($next) {
		}).removeClass("active");
		$next.fadeIn(200).addClass("active");
	}, 1000);

});

function toggle() {
	$('#play').toggle();
}

</script>
</head>
<body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
						<div id="images">
							<% images.forEach(function(image) { %>
									<img src="http://localhost:8080/images/<%= image %>" class="img-thumbnail" />
							<% }); %>
						</div>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p> Created by Photo-togis.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
	<% audios.forEach(function(audios, index) { %>
		<audio id="audio<%=index %>" src="http://localhost:8080/audios/<%= audios %>" stop >
	<% }); %>
</body>
</html>
